@charset "utf-8"; 

img{
    max-width:100%;
    height:auto;
}

body{
    color: #333;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}

.heading-inner{
    max-width:1080px;
    margin:0 auto;
}
@media screen and (max-width:1079px){
    .heading-inner{
        padding:0 15px;
    }
}

.heading{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.heading h1{
    width: 130px;
    height: 33px; 
}

.recruit{
width: 151px;
height: 48px;
background-color: #FFE000;
border-radius:24px;
line-height: 48px;
text-decoration: none;
color:black;
display: block;
box-shadow: 3px 3px 10px #00000029;
font-weight: bold;
font-size: 18px;
}

.main-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .main-inner{
        padding:0 15px;
    }
}

.main-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 120px;
}


.main-bott{
    margin-top: 40px;
    display:flex; 
    justify-content: space-between; 
    width: 400px;
    margin-right: auto;
}

.main-bott a{
    font-weight: bold;
}


.main-contents h2{
    font-size: 36px;
    font-weight: bold;
}

.main-contents p{
    margin-top: 34px;
    width: 400px;
    font-size: 16px;
    line-height: 27px;
}

.contact{
    display:inline-block;
    background-color: #109954;
    color:white;
    border-radius: 32px;
    height:48px;
    width:166px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}

.siryo{
    
    display:inline-block;
    background-color: white;
    color: #109954;
    border-radius: 32px;
    border:2px solid #109954;
    width:222.95px;
    height:48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}

.main-visual{
    height: 448px;
    width:560px;
}

.service-title{
display: flex;
align-items: center;
justify-content: center;
}

.service-title:before,.service-title:after {
border-top: 4px solid;
border-color: #109954;
content: "";
width:200px; 
}

.service-title:before {
margin-right: 50px;
}

.service-title:after {
margin-left: 50px;
}

.service-title h2{
    font-size: 36px;
    font-weight: bold;
}

.service-ttl-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .service-ttl-inner{
        padding:0 15px;
    }
}


.service-inner{
    max-width:800px;
    margin:0 auto;
}
@media screen and (max-width:1079px){
    .service-inner{
        padding:0 15px;
    }
}

.service{
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 120px;
    align-items: center;
}


.service1 img,.service2 img,.service3 img{
    display:inline-block;
    width:200px;
    height:200px;
}

.service1,.service2,.service3{
    text-align: center;
}

.service1 p,.service2 p,.service3 p{
    font-size: 20px; 
    font-weight: bold;
    line-height: 34px;
    margin-top: 30px;
}

.about-ttl{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
.about-ttl:before,.about-ttl:after {
    border-top: 4px solid;
    border-color: #109954;
    content: "";
    width:200px; 
    }
    
.about-ttl:before {
    margin-right: 50px;
    }
    
.about-ttl:after {
    margin-left: 50px;
    }

.about-ttl h2{
font-size:36px;
text-align: center;
font-weight: bold;
}

.about-ttl-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .about-ttl-inner{
        padding:0 15px;
    }
}


.about-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .about-inner{
        padding:0 15px;
    }
}
.about1{
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 100px;
    align-items: center;
}

.about1sp{
    width: 48%;
}


.about1-tex p{
    font-size: 16px;
    display:block;
    line-height: 27px;
}

.about1-tex a{
    margin-top:29px;
    width:166px;
    height: 48px;
    color: white;
    background-color:#109954 ;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    display:block;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
    font-weight: bold;
}

.about1-img{
    height: 278px;
    width: 48%;
    box-shadow: 0px 11px 20px #00000029;
}



.about2{
    display: flex;
    justify-content: space-between;
    padding:100px 70px 120px 70px;
    align-items: center;
}

.about2-img{
    box-shadow: 0px 11px 20px #00000029;
    height: 278px;
    width:48%;
}

.about2sp{
    display: flex;
    align-items: center;
    width:48%;
}

.about2-tex p{
    display: block;
    margin-top: 30px;
    line-height: 27px;
    font-size: 16px;
}

.about2-tex a{
    margin-top:29px;
    width:166px;
    height: 48px;
    color: white;
    background-color:#109954 ;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    display:inline-block;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
    font-weight: bold;
}

.about2-tex h3{
    font-size: 32px;
    font-weight: bold;
    color:#109954
}




.news-ttl{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 101px;
    }
    
.news-ttl:before,.news-ttl:after {
    border-top: 4px solid;
    border-color: #109954;
    content: "";
    width:200px; 
    }
    
.news-ttl:before {
    margin-right: 50px;
    }
    
.news-ttl:after {
    margin-left: 50px;
    }

.news-ttl h2{
font-size:36px;
text-align: center;
font-weight: bold;
}

.news-ttl-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .news-ttl-inner{
        padding:0 15px;
    }
}

.news-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .news-inner{
        padding:0 15px;
    }
}

.news-content1 a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;/*100だよ！*/
    height: 100%;
    text-indent:-999px;
    z-index: 2
}


.news-content1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    margin:0 auto;
    position: relative;
}

.news-img{
   display: flex;
   justify-content: center;
   width: 300px;
  height: 168px;
}

.news-txt{
    width: 650px;
    margin-left:34px;
    padding-top: 31px;
    padding-bottom: 53px;
}

.news-time p{
    line-height: 27px;
}

.news-time time{
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
}

.news-time span{
    display: inline-block;
    border-radius: 13px;
    border:2px solid #109954;
    color:#109954;
    background-color: white;
    width:101px;
    height:26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    margin-left: 28px;
}

.document p{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}

.document{
    padding-top:15px;
}

.document2 p{
    font-size: 16px;
    line-height: 27px;
}

.document2{
    padding-top: 20px;
}


.more-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .more-inner{
        padding:0 15px;
    }
}

.more-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.more-btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    width:166px;
    height: 48px;
    display:block;
    border-radius: 24px;
    box-shadow: 3px 3px 10px #00000029;
    background-color:#109954 ;
    line-height: 48px;
}

footer{
    background-color: #E8E8E8;
}

.footer-inner{
    max-width:1080px;
    margin: 0 auto;  
}
@media screen and (max-width:1079px){
    .footer-inner{
        padding:0 15px;
    }
}

.ft-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 12px;
}

.ft-img{
    display: block;
    height: 70px;
    width: 70px;
}

.ft-text li+ li {
border-left: 1px solid #333;
}

.ft-text li{
    height: 25px;
    padding-right: 18px;
    padding-left: 18px;
}

.ft-text li:first-child{
    padding-left: 0px;
}

.ft-text li:last-child{
    padding-right: 0px;
}

.ft-text{
    display: flex;
    justify-content: space-between;
}


.ft-text a{
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.ft-title{
    text-align: center;
}

.ft-title p{
    font-size: 14px;
    line-height: 24px;
}

.ft-text-out{
    display: flex;
    align-items: center;
}






@media screen and (max-width: 767px){

    body{
        width:100%;
        margin:0 auto;
    }

    .heading-inner{
        margin: 0 auto;
    }

    .heading-logo h1{
        width: 110px;
    }


    .main-visual{
        width: 345px;
        height: 276px;
        order:1;
        margin-top: 10px;
    }

    .main-inner{
        display: flex;
        flex-direction: column;

    }



    .main{
        display: flex;
        flex-direction: column;
    }/*aaaaaaaaaaaaaaaaaa*/

    .main-contents{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-flex{
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .mainblock-inner{
        order: 2;
    }


    .main-contents h2{
        width: 196px;
        font-size: 28px;
        line-height: 48px;
        margin-top: 10px;
    }

    .main-contents p{
        width: 345px;
        display:block;
        font-size: 16px;
        line-height: 27px;
        margin-top: 22px;
    }

    .main-bott{
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        margin: 0px;
    }

    .main-bott a{ 
        display: block;
    }

    

    .siryo{
        margin-top: 15px;
    }

    .contact{
        margin-top: 20px;
    }


    .service-title:before {
    margin-right: 17px;
    }
        
    .service-title:after {
    margin-left: 17px;
    }

    .service{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .service2,.service3{
        margin-top: 50px;
    }






    .about-ttl:before{
    margin-right: 17px;
    }
            
    .about-ttl:after {
    margin-left: 17px;
    }

    .about1{
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    }

    .about1-img{
    width: 344.78px;
    height: 213px;
    order: 1;
    }

    .about1sp{
    display: flex;
    justify-content: center;

    order: 2;
    }

    .about1-tex{
        padding-top: 50px;
        padding-bottom: 70px;
        
    }

    .about1-tex p{
    width: 345px;
    }

    .about1-tex a{
    margin-top: 30px;
    }



    .about2{        
    display: flex;
    flex-direction: column;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
    }
    
    .about2-img{
        width: 344.78px;
        height: 213px;
    }

    .about2sp{
    display: flex;
    justify-content: center;
    }


    .about2-tex p{
        width: 345px;
    }

    .about2-tex{
        padding-top: 50px;
        padding-bottom: 100px;
    }


     .about2-tex a{
        margin-top: 30px;
    }






    .news-ttl:before{
        margin-right: 17px;
        }
                
    .news-ttl:after {
        margin-left: 17px;
        }

    .news-ttl{
        margin-bottom: 80px;
    }


    .news-content1{
        display: flex;
        flex-direction: column;
        padding-bottom: 18px;
    }

    .news-content1 a{
        width: 10%;
    }
    .news-img{
        width: 300px;
        height: 168px;
        padding-top: 18px;
        padding-left: 23px;
        padding-right: 26px;
        padding-bottom: 18px;
    }

    .news-txt{
        padding: 0px;
    }

    .news-txt{
        width: 100%;
    }







    .footer-inner{
        background-color:  #E8E8E8;
        width: 100%;
        padding: 0px;
    }

    .ft-cont{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .ft-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 23px;
    }

    .ft-text li{
        padding:0px;
    }

    .ft-text li+ li {
        border-left: none;
    }

    .ft-title{
        width: 100%;
        padding-bottom: 20px;
    }


}





@media screen and (max-width:345px){
    body{
        width: 100%;
    }

    .main-inner{
        width:100%;
    }

    .main-visual{
        width: 100%;
        display: block;
    }

    .contact{
        margin-top: 10px;
    }

    .main1-contents{
        width: 100%;
    }

    .main1-contents p{
        display: block;
        width: 100%;
    }

    .main1-bott{
        width: 100%;
    }



    .about1-img{
        width: 100%;
        height: auto;
    }

    .about1-tex p{
        width: 100%;
    }

    .about2-img{
        width: 100%;
        height: auto;
    }

    .about2-tex p{
        width: 100%;
    }

    .news-content1{
        width: 100%;
    }


}
