@charset "utf-8"; 

img{
    max-width:100%;
    height:auto;
}

body{
    color: #333;
    font-family: YuGothic,'Yu Gothic',sans-serif;
}



.heading-inner{
    max-width:1080px;
    margin:0 auto;
}
@media screen and (max-width:1079px){
    .heading-inner{
        padding:0 15px;
    }
}

.heading{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.heading h1{
    width: 130px;
    height: 33px; 
    margin-top: 18px;
}


.recruit{
width: 151px;
height: 48px;
background-color: #FFE000;
border-radius:24px;
line-height: 48px;
text-decoration: none;
color:black;
display: inline-block;
margin-top: 11px;
box-shadow: 3px 3px 10px #00000029;
font-weight: bold;
font-size: 18px;
}

























.main-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .main-inner{
        padding:0 15px;
    }
}

.main-flex{
    display:flex;
    justify-content: space-between;
}

.mainblock-inner{
    display: flex;
    align-items: center;
}



.main-bott{
    margin-top: 40px;
    display:flex; 
    justify-content: space-between; 
    width: 400px;
    margin-right: auto;
}

.main-bott a{
    font-weight: bold;
}


.main-contents h2{
    font-size: 36px;
    font-weight: bold;
}

.main-contents p{
    margin-top: 34px;
    width: 400px;
    font-size: 16px;
    line-height: 27px;
}

.contact{
    display:inline-block;
    background-color: #109954;
    color:white;
    border-radius: 32px;
    height:48px;
    width:166px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}

.siryo{
    
    display:inline-block;
    background-color: white;
    color: #109954;
    border-radius: 32px;
    border:2px solid #109954;
    width:222.95px;
    height:48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}








.main-visual{
    height: 448px;
    width:560px;
   display: flex;
   align-items: center;
   padding-top: 91px;
   padding-bottom: 120px;
}

















.service-title{
display: flex;
align-items: center;
justify-content: center;
}

.service-title:before,.service-title:after {
border-top: 4px solid;
border-color: #109954;
content: "";
width:200px; 
}

.service-title:before {
margin-right: 1rem;
}

.service-title:after {
margin-left: 1rem;
}

.service-title h2{
    font-size: 36px;
    font-weight: bold;
}

.service-ttl-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .service-ttl-inner{
        padding:0 15px;
    }
}






.service-inner{
    max-width:1080px;
    margin:0 auto;
}
@media screen and (max-width:1079px){
    .service-inner{
        padding:0 15px;
    }
}

.service{
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
}


.service1 img,.service2 img,.service3 img{
    display:inline-block;
    width:200px;
    height:200px;
}

.service1,.service2,.service3{
    text-align: center;
    width: 24%;
}

.service1 p,.service2 p,.service3 p{
    font-size: 20px; 
    font-weight: bold;
    line-height: 34px;
    margin-top: 30px;
}




















.about-ttl{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
.about-ttl:before,.about-ttl:after {
    border-top: 4px solid;
    border-color: #109954;
    content: "";
    width:200px; 
    }
    
.about-ttl:before {
    margin-right: 1rem;
    }
    
.about-ttl:after {
    margin-left: 1rem;
    }

.about-ttl h2{
font-size:36px;
text-align: center;
font-weight: bold;
}

.about-ttl-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .about-ttl-inner{
        padding:0 15px;
    }
}



























.about-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .about-inner{
        padding:0 15px;
    }
}
.about1{
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 100px;
}


.about1sp{
    display: flex;
    align-items: center;
}


.about1-tex p{
    width: 450px;
    font-size: 16px;
    display:block;
    line-height: 27px;
}

.about1-tex a{
    margin-top:29px;
    width:166px;
    height: 48px;
    color: white;
    background-color:#109954 ;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    display:block;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
    font-weight: bold;
}

.about1-img{
    height: 278px;
    width: 450px;
    box-shadow: 0px 11px 20px #00000029;
}



.about2{
    display: flex;
    justify-content: space-between;
    padding:100px 70px 120px 70px;
}

.about2-img{
    box-shadow: 0px 11px 20px #00000029;
    height: 278px;
    width: 450px;
}

.about2sp{
    display: flex;
    align-items: center;
}

.about2-tex p{
    display: block;
    margin-top: 30px;
    width: 450px;
    line-height: 27px;
    font-size: 16px;
}

.about2-tex a{
    margin-top:29px;
    width:166px;
    height: 48px;
    color: white;
    background-color:#109954 ;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    display:inline-block;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
    font-weight: bold;
}

.about2-tex h3{
    font-size: 32px;
    font-weight: bold;
    color:#109954
}




.news-ttl{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 101px;
    }
    
.news-ttl:before,.news-ttl:after {
    border-top: 4px solid;
    border-color: #109954;
    content: "";
    width:200px; 
    }
    
.news-ttl:before {
    margin-right: 1rem;
    }
    
.news-ttl:after {
    margin-left: 1rem;
    }

.news-ttl h2{
font-size:36px;
text-align: center;
font-weight: bold;
}

.news-ttl-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .news-ttl-inner{
        padding:0 15px;
    }
}
















.news-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .news-inner{
        padding:0 15px;
    }
}





.news-content1 a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2
}


.news-content1{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    margin:0 auto;
    position: relative;
}

.news-img{
   display: flex;
   align-items: center;/*いる？*/
   justify-content: center;
   width: 300px;
  height: 168px;
}





.news-txt{
    width: 650px;
    margin-left:34px;
    padding-top: 31px;
    padding-bottom: 53px;
}

.news-time p{
    line-height: 27px;
}




.news-time time{
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
}


.news-time span{
    display: inline-block;
    border-radius: 13px;
    border:2px solid #109954;
    color:#109954;
    background-color: white;
    width:101px;
    height:26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
}

.document p{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}

.document{
    padding-top:15px;
}

.document2 p{
    font-size: 16px;
    line-height: 27px;
}

.document2{
    padding-top: 20px;
}









.more-inner{
    max-width:1080px;
    margin: 0 auto;
}
@media screen and (max-width:1079px){
    .more-inner{
        padding:0 15px;
    }
}


.more-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.more-btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    width:166px;
    height: 48px;
    display:block;
    border-radius: 24px;
    box-shadow: 3px 3px 10px #00000029;
    background-color:#109954 ;
    line-height: 48px;
}






footer{
    background-color: #E8E8E8;
}

.footer-inner{
    max-width:1080px;
    margin: 0 auto;  
}
@media screen and (max-width:1079px){
    .footer-inner{
        padding:0 15px;
    }
}

.ft-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-img{
    display: block;
    height: 70px;
    width: 70px;
    padding-top: 25px;
}

.ft-text li+ li {
border-left: 1px solid #333;
}

.ft-text li{
    height: 25px;
    padding-right: 14px;
    padding-left: 14px;
}

.ft-text li:first-child{
    padding-left: 0px;
}

.ft-text li:last-child{
    padding-right: 0px;
}

.ft-text{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}


.ft-text a{
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.ft-title{
    text-align: center;
}

.ft-title p{
    font-size: 14px;
    line-height: 24px;
}






@media screen and (min-width: 1281px){
    body{
        width:100%;
    }
}
@media screen and (max-width: 767px){

    body{
        width:100%;
        margin-right: auto;
        margin-left: auto;
    }

    .heading-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .heading-logo h1{
        width: 110px;
        height: 28px;
    }

    .main-visual{
        width: 345px;
        height: 276px;
        margin-right:auto;
        margin-left: auto;
    }



    .main-inner{
        display: flex;
        flex-direction: column;

    }

    .main1-inner{
        order: 2;
    }


    .main{
        display: flex;
        flex-direction: column;
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-visual{
        order:1;
        margin-top: 10px;
    }

    .main1-contents{
        order: 2;
        display: flex;
        flex-direction: column;
        margin-right:  auto;
        margin-left: auto;
        text-align: center;
    }

    .main1-contents h2{
        width: 196px;
        font-size: 28px;
        line-height: 48px;
        height: 76px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    .main1-contents p{
        width: 345px;
        height: 72px;
        display:block;
        font-size: 16px;
        line-height: 27px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 22px;
    }

    .main1-bott{
        order:3;
        display: flex;
        flex-direction: column;
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .main1-bott a{ 
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .contact{
        margin-top: -10px;
    }

    .siryo{
        margin-top: 15px;
    }


    .service-ttl-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
    }/*かなりmax-widthかけてる*/

    .service{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .servicve-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .service1,.service2,.service3{
        margin-left: auto;
        margin-right: auto;
    }

    .service1{
        margin-top:80px;
    }

    .service2,.service3{
        margin-top: 100px;
    }

    .service1 p,.service2 p,.service3 p{
        font-size: 19px;
        line-height: 34px;
    }

 














    .about-ttl-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }


    .about1{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }

    .about-inner{
        max-width: 345px;
    }

    .about1-img{
        order: 1;
        width: 344.78px;
        height: 213px;
        margin-top: -20px;
    }

    


    .about1-tex{
        order:2;
        margin-top:50px;
    }
    
    .about1-tex p{
    
    width: 345px;
    height: 153px;/*heightって設定するものなの？？？*/
    }

    .about1-tex a{
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

    }
    




    .about2{        
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    }
    
    .about2-img{
        width: 344.78px;
        height: 213px;
        margin-top: -30px;
    }

    .about2-tex h3{
        margin-top: 50px;
    }

     .about1-tex a{
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

    }


    .about2-tex p{
        width: 345px;
        height: 124px;/*heightって設定するものなの？？？*/
    }

    .news-ttl-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .news-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;   
    }

    .news-content1{
        display: flex;
        flex-direction: column;
        max-width: 345px;
        width: 349px;
        height: 416px;
    }

    .news-img{
        width: 300px;
        height: 168px;
    }

    .news-time{
        margin-top: 18px;
    }

    .mews-time time{
        font-size: 16px;
        line-height: 27px;
    }

    .news-time span{
        font-size: 14px;
        line-height: 24px;
    }

    .document p{
        font-size: 16px;
        line-height: 27px;
    }

    .document2{
        font-size: 16px;
        line-height: 27px;
    }

    .news-txt{
        width: 100%;
    }

    .footer-inner{
        height: 289px;
        background-color:  #E8E8E8;
        width: 100%;
    }

    .footer{
        height: 100%;
    }


    .ft-img{
        margin-left: auto;
        margin-right: auto;
    }

    .ft-cont{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
    }

    .ft-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 23px;
    }

    .ft-text li+ li {
        border-left: none;
        }

        .ft-title{
            margin-top: 40px;
            width: 100%;
        }


}

@media screen and (max-width:345px){
    body{
        width: 100%;
    }

    .main-inner{
        width:100%;
    }

    .main-visual{
        width: 100%;
        display: block;
    }

    .contact{
        margin-top: 10px;
    }

    .main1-contents{
        width: 100%;
    }

    .main1-contents p{
        display: block;
        width: 100%;
    }

    .main1-bott{
        width: 100%;
    }



    .about1-img{
        width: 100%;
        height: auto;
    }

    .about1-tex p{
        width: 100%;
    }

    .about2-img{
        width: 100%;
        height: auto;
    }

    .about2-tex p{
        width: 100%;
    }

    .news-content1{
        width: 100%;
    }


}
