@charset "utf-8"; 

img{
    max-width:100%;
    height:auto;
}

body{
    color: #333;
    width: 1280px;
    font-family: YuGothic,'Yu Gothic',sans-serif;/*ここじゃないの？さるわか参照*/
}

.heading{
    height:70px;
}

.heading-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto;
}

.heading-logo{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.heading-logo h1{
    width: 130px;
    height: 33px;
    margin-top:18px;
}

.recruit{
width: 151px;
height: 48px;
background-color: #FFE000;
border-radius:24px;
line-height: 48px;
text-decoration: none;
color:black;
display: inline-block;
margin-top: 11px;
box-shadow: 3px 3px 10px #00000029;
font-weight: bold;
font-size: 18px;
}


.main-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto;   
    display:flex;
    justify-content: space-between; 
}



.main1-inner{
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center; 
}

.main1-contents{
    text-align: left;
}



.main1-bott{
    margin-top: 40px;
    display:flex; 
    justify-content: space-between; 
    width: 400px;
    margin-right: auto;
}

.main1-bott a{
    font-weight: bold;
}


.main1-contents h2{
    font-size: 36px;
    font-weight: bold;
}

.main1-contents p{
    margin-top: 34px;
    width: 400px;
    height: 43px;
    font-size: 16px;
    display: inline-block;/*必要？*/
}

.contact{
    display:inline-block;
    background-color: #109954;
    color:white;
    border-radius: 32px;
    height:48px;
    width:166px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}

.siryo{
    
    display:inline-block;
    background-color: white;
    color: #109954;
    border-radius: 32px;
    border:2px solid #109954;
    width:222.95px;
    height:48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}

.main-visual{
    height: 448px;
    width:560px;
   margin-top:91px;
   margin-bottom: 12px;/*::::*/
}/* main1のせいでmain-visualが指定の大きさにできない→  main1-inner  →main1-contents が幅を取ってるにが分かったがcssに異常を見つけられなかった*/


.service-title{
display: flex;
align-items: center;
justify-content: center;
}

.service-title:before,.service-title:after {
border-top: 4px solid;
border-color: #109954;
content: "";
width:200px; 
}

.service-title:before {
margin-right: 1rem;
}

.service-title:after {
margin-left: 1rem;
}

.service-title h2{
    font-size: 36px;
    font-weight: bold;
}

.service-ttl-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto; 
}



.service{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 120px;
}

.service-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto; 
}

.service1,.service2,.service3 img{
    display:inline-block;
    width:200px;
    height:200px;
}

.service1,.service2,.service3{
    text-align: center;
}



.service1{
    margin-left: 140px;
    margin-right: 100px;
}

.service2{
    margin-right: 100px;
}

.service3{
    margin-right: 140px;
}

.service1 p,.service2 p,.service3 p{
    font-size: 20px; 
    font-weight: bold;
    line-height: 34px;
    width: 204px;
    margin-top: 30px;
}


.about-ttl{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
.about-ttl:before,.about-ttl:after {
    border-top: 4px solid;
    border-color: #109954;
    content: "";
    width:200px; 
    }
    
.about-ttl:before {
    margin-right: 1rem;
    }
    
.about-ttl:after {
    margin-left: 1rem;
    }

.about-ttl h2{
font-size:36px;
text-align: center;
font-weight: bold;
}

.about-ttl-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto; 
}





.about-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto; 
}

.about1{
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 100px;
}

/*width:%;を使うと大きさが再現できないから使いたくないけどそれっていいの？動画では使っていたし、、*/


.about1-tex p{
    width: 450px;
    height: 127px;
    font-size: 16px;
    display:block;
    line-height: 27px;
}

.about1-tex a{
    margin-top:29px;
    width:166px;
    height: 48px;
    color: white;
    background-color:#109954 ;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    display:inline-block;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}

.about1-img{
    height: 278px;
    width: 450px;
    box-shadow: 0px 11px 20px #00000029;
}/*左寄せのmarginとかいる？必要になった時だけ？*/



.about2{
    display: flex;
    justify-content: space-between;
    margin:100px 70px 120px 70px;
}

.about2-img{
    box-shadow: 0px 11px 20px #00000029;
    height: 278px;
    width: 450px;
}

.about2-tex p{
    display: block;
    margin-top: 30px;
    height: 97px;
    width: 450px;
    line-height: 27px;
}

.about2-tex a{
    margin-top:29px;
    width:166px;
    height: 48px;
    color: white;
    background-color:#109954 ;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    display:inline-block;
    text-decoration: none;
    box-shadow: 3px 3px 10px #00000029;
}

.about2-tex h3{
    font-size: 32px;
    font-weight: bold;
    color:#109954
}




.news-ttl{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 101px;
    }
    
.news-ttl:before,.news-ttl:after {
    border-top: 4px solid;
    border-color: #109954;
    content: "";
    width:200px; 
    }
    
.news-ttl:before {
    margin-right: 1rem;
    }
    
.news-ttl:after {
    margin-left: 1rem;
    }

.news-ttl h2{
font-size:36px;
text-align: center;
font-weight: bold;
}

.news-ttl-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto; 
}





.news-out{
    position: relative;
}

.news-out a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2
}


.news-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto; 
}

.news-content1{
    height: 204px;
    width: 1000px;
    display: flex;
    align-items: center;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    margin:0 auto;
}

.news-img{
   display: flex;
   align-items: center;
   justify-content: center;
   width:30%;
}



.news-txt{
    width: 70%;
}




.news-time time{
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
}


.news-time span{
    display: inline-block;
    border-radius: 13px;
    border:2px solid #109954;
    color:#109954;
    background-color: white;
    width:101px;
    height:26px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}

.document p{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}

.document{
    margin-top:15px;
}

.document2 p{
    font-size: 16px;
    line-height: 27px;
}

.document2{
    margin-top: 20px;
}










.more-btn{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width:166px;
    height: 48px;
    background-color:#109954 ;
    line-height: 48px;
    text-align: center;
    border-radius: 24px;
    display:block;
    box-shadow: 3px 3px 10px #00000029;

    position: relative;
    z-index: 2;
}

.more-btn a{
    color: white;
    text-decoration: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




footer{
    height: 135px;
    background-color: #E8E8E8;
}

.footer-inner{
    max-width:1080px;
    margin-right: auto;
    margin-left: auto;     
}

.ft-cont{
    display: flex;
    justify-content: space-between;
}

.ft-img{
    display: block;
    height: 70px;
    width: 70px;
    margin-right: auto;
    margin-top: 25px;
}

.ft-text li+ li {
border-left: 1px solid #333;
}

.ft-text li{
    height: 25px;
    padding-right: 14px;
    padding-left: 14px;
}

.ft-text{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.ft-text a{
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.ft-title{
    text-align: center;
}

.ft-title p{
    font-size: 14px;
    line-height: 24px;
}






@media screen and (min-width: 1281px){
    body{
        width:100%;
    }
}
@media screen and (max-width: 768px){

    body{
        width:100%;
        margin-right: auto;
        margin-left: auto;
    }

    .heading-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .heading-logo h1{
        width: 110px;
        height: 28px;
    }

    .main-visual{
        width: 345px;
        height: 276px;
        margin-right:auto;
        margin-left: auto;
    }



    .main-inner{
        display: flex;
        flex-direction: column;

    }

    .main1-inner{
        order: 2;
    }


    .main{
        display: flex;
        flex-direction: column;
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-visual{
        order:1;
        margin-top: 10px;
    }

    .main1-contents{
        order: 2;
        display: flex;
        flex-direction: column;
        margin-right:  auto;
        margin-left: auto;
        text-align: center;
    }

    .main1-contents h2{
        width: 196px;
        font-size: 28px;
        line-height: 48px;
        height: 76px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    .main1-contents p{
        width: 345px;
        height: 72px;
        display:block;
        font-size: 16px;
        line-height: 27px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 22px;
    }

    .main1-contents span{
        display: block;
    }

    .main1-bott{
        order:3;
        display: flex;
        flex-direction: column;
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .main1-bott a{ 
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .contact{
        margin-top: -10px;
    }

    .siryo{
        margin-top: 15px;
    }


    .service-ttl-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
    }/*かなりmax-widthかけてる*/

    .service{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .servicve-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .service1,.service2,.service3{
        margin-left: auto;
        margin-right: auto;
    }

    .service1{
        margin-top:80px;
    }

    .service2,.service3{
        margin-top: 100px;
    }

    .service1 p,.service2 p,.service3 p{
        font-size: 19px;
        line-height: 34px;
    }

 














    .about-ttl-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }


    .about1{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }

    .about-inner{
        max-width: 345px;
    }

    .about1-img{
        order: 1;
        width: 344.78px;
        height: 213px;
        margin-top: -20px;
    }

    


    .about1-tex{
        order:2;
        margin-top:50px;
    }

    .about1-tex:not(p){/*なんでできない？？？？？*/
        text-align: center;
    }
    
    .about1-tex p{
    display: block;/*ブロック要素にしたけど、それでもダメだった。*/
    width: 345px;
    height: 153px;/*heightって設定するものなの？？？*/
    }

    .about1-tex a{
        display: inline-block;
        margin-top: 30px;
    }
    




    .about2{        
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    }
    
    .about2-img{
        width: 344.78px;
        height: 213px;
        margin-top: -30px;
    }

    .about2-tex h3{
        margin-top: 50px;
    }


    .about2-tex p{
        display: block;/*ブロック要素にしたけど、それでもダメだった。*/
        width: 345px;
        height: 124px;/*heightって設定するものなの？？？*/
    }

    .about2-tex:not(p){/*なんでできない？？？？？ h3ってブロック要素じゃないの？　じゃ効かないはずじゃないの？*/
        text-align: center;
    }

    .news-ttl-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;
    }

    .news-inner{
        max-width: 345px;
        margin-right: auto;
        margin-left: auto;   
    }

    .news-content1{
        display: flex;
        flex-direction: column;
        max-width: 345px;
        width: 349px;
        height: 416px;
    }

    .news-img{
        width: 300px;
        height: 168px;
    }

    .news-time{
        margin-top: 18px;
    }

    .mews-time time{
        font-size: 16px;
        line-height: 27px;
    }

    .news-time span{
        font-size: 14px;
        line-height: 24px;
    }

    .document p{
        font-size: 16px;
        line-height: 27px;
    }

    .document2{
        font-size: 16px;
        line-height: 27px;
    }

    .news-txt{
        width: 100%;
    }

    .footer-inner{
        height: 289px;
        background-color:  #E8E8E8;
        width: 100%;
    }

    .footer{
        height: 100%;
    }


    .ft-img{
        margin-left: auto;
        margin-right: auto;
    }

    .ft-cont{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
    }

    .ft-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 23px;
    }

    .ft-text li+ li {
        border-left: none;
        }

        .ft-title{
            margin-top: 40px;
            width: 100%;
        }


}

@media screen and (max-width:345px){
    body{
        width: 100%;
    }

    .main-inner{
        width:100%;
    }

    .main-visual{
        width: 100%;
        display: block;
    }

    .contact{
        margin-top: 10px;
    }

    .main1-contents{
        width: 100%;
    }

    .main1-contents p{
        display: block;
        width: 100%;
    }

    .main1-bott{
        width: 100%;
    }



    .about1-img{
        width: 100%;
        height: auto;
    }

    .about1-tex p{
        width: 100%;
    }

    .about2-img{
        width: 100%;
        height: auto;
    }

    .about2-tex p{
        width: 100%;
    }

    .news-content1{
        width: 100%;
    }


}
